---
# Info on using widgets https://support.thinkreservations.com/support/solutions/articles/48000511643-check-availability-widget
# Get json of all available dates https://api.thinkreservations.com/hotels/2461/rooms/{{post.unitId}}/daily_availabilities?start_date=2023-02-01&end_date=2025-01-31

layout: default
---
<div class="container pt-4">
    <div class="row">
        <div class="col text-center">
            <h1>It All Starts here</h1>
        </div>
    </div>
</div>
<div class="container">
    <!-- Carousel wrapper -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-config='{"interval": 4000, "pause": false}'>
        <!-- Slides -->
        <div class="carousel-inner mb-5">
            <div class="carousel-inner mb-1">
                {% assign image_found = false %}
                    {% for image in site.static_files %}
                        {% if image.path contains 'luxehauslodge' %}
                            {% if image_found == false %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}               
                            <img src="{{ site.baseurl }}{{ image.path }}" class="d-block w-100" alt="image" style="height:35vw" />
                        </div>
                        {% assign image_found = true %}
                        {% endif %}
                {% endfor %}             
            </div>
        </div>
        <!-- Slides -->
    
        <!-- Controls -->
        <button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" style="height: 50px; width: 50px;"
        type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next top-50 position-absolute end-0 translate-middle-y" 
            style="height: 50px; width: 50px;" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <!-- Controls -->
    
        <!-- Thumbnails -->
        <!-- <div class="carousel-indicators" style="margin-bottom: -20px;">
            {% assign image_found_count = 0 %}
            {% for image in site.static_files %}
                {% if image.path contains 'luxehauslodge' %}                                   
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ image_found_count }}" 
                    class="{% if image_found_count == 0 %}active{% else %}img-responsive{% endif %}"
                    aria-current="true" aria-label="Slide 1" style="width: 100px;">
                    <img class="d-block w-100"
                    src="{{ site.baseurl }}{{ image.path }}" class="img-responsive" />
                    </button>
                    {% assign image_found_count = image_found_count | plus: 1 %}
                {% endif %}
            {% endfor %}       
        </div> -->
        <!-- Thumbnails -->
    </div>
    <!-- Carousel wrapper -->
</div>
<!-- <div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <p>Hocking Hills is a picturesque destination that is perfect for nature lovers and those who want to escape the hustle and bustle of city life. Your lodges offer a peaceful retreat in the heart of the woods, surrounded by breathtaking scenery and natural wonders. From hiking trails and waterfalls to horseback riding and zip-lining, there is no shortage of outdoor activities for visitors to enjoy. In addition, the area is home to some of Ohio's most stunning rock formations, including Old Man's Cave, Ash Cave, and Cedar Falls. Staying at one of your lodges in Hocking Hills would provide guests with easy access to all of these attractions and more.</p>
        </div>
        <div class="col-md-6">
            <p>Our lodges offer comfortable and well-appointed accommodations that cater to a wide range of travelers. Whether visitors are looking for a romantic getaway or a family-friendly vacation, your lodges have something for everyone. Guests can choose from a variety of lodging options, including cabins, cottages, and lodges, each with their own unique features and amenities. From hot tubs and fireplaces to fully-equipped kitchens and spacious living areas, your lodges provide everything needed for a comfortable and enjoyable stay. Furthermore, your lodges are conveniently located near local restaurants and shops, making it easy for guests to explore the area and experience all that Hocking Hills has to offer.</p>
        </div>
    </div>
</div> -->
<div class="container pb-5">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
            <div class="card h-100" style="">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>              
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Luxurious modern lodges...</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card h-100" style="">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>              
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Perfect for families or large groups...</p>
                </div>
              </div>        
        </div>
        <div class="col">
            <div class="card h-100" style="">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>              
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Close to area attractions...</p>
                </div>
              </div>        
        </div>
    </div>
</div>
<div class="container pb-3">
    <div class="row">
        <h3>LODGES</h3>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        {% for post in site.posts %}
            <div class="col-md-6">
                <div class="card" >
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/{{ post.cardImage }}" alt={{post.title}}> 
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ post.url }}" role="button" class="btn btn-primary me-md-2 mb-5">Learn More</a>
                        <div class="tr-widget" data-tr-widget-type="unit-calendar" data-tr-short-name="lodgesatcedarfalls" data-tr-unit-id="fa8b4ed3-766f-43db-a918-c49e5f6afda8"></div>
                        <div class="tr-widget" data-tr-widget-type="check-availability" data-tr-short-name="lodgesatcedarfalls" data-tr-number-of-adults="3" data-tr-number-of-children="2" data-tr-unit-id="cc600566-7180-4972-b78b-fffc27285245"></div>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div> -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-1">
        {% for post in site.posts %}
        <div class="card mb-3 g-0">
            <div class="card-header">
                {{ post.title }}
            </div>            
            <div class="row g-0 align-items-center">
              <div class="col-md-4">
                <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/{{ post.cardImage }}" alt={{post.title}}> 
              </div>
              <div class="col-md-8">
                <div class="card-body border-0">
                    <div class="row mb-3">
                        <div class="col">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <a href="{{ site.baseurl }}{{ post.url }}" role="button" class="btn btn-primary me-md-2 mb-5">Learn More</a>
                        </div>
                    </div>          
                    <div class="row g-5">
                        <!-- <div class="col">
                            <style>.tr-component.tr-unit-calendar-with-availability-form { border: none !important; }</style>
                            <div class="tr-widget" data-tr-widget-type="unit-calendar-with-availability-form" data-tr-widget-type="check-availability" data-tr-short-name="lodgesatcedarfalls" data-tr-number-of-adults="3" data-tr-number-of-children="2" data-tr-unit-id="fa8b4ed3-766f-43db-a918-c49e5f6afda8"> </div>
                        </div> -->
                        <div class="col-lg-6">
                            <div class="tr-widget" data-tr-widget-type="unit-calendar" data-tr-short-name="lodgesatcedarfalls" data-tr-unit-id="fa8b4ed3-766f-43db-a918-c49e5f6afda8"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="tr-widget" data-tr-widget-type="check-availability" data-tr-short-name="lodgesatcedarfalls" data-tr-number-of-adults="3" data-tr-number-of-children="2" data-tr-unit-id="fa8b4ed3-766f-43db-a918-c49e5f6afda8"></div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

            <!-- <div class="col">
                <div class="card" >
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/{{ post.cardImage }}" alt={{post.title}}> 
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ post.url }}" role="button" class="btn btn-primary me-md-2 mb-5">Learn More</a>
                        <div class="tr-widget" data-tr-widget-type="unit-calendar" data-tr-short-name="lodgesatcedarfalls" data-tr-unit-id="fa8b4ed3-766f-43db-a918-c49e5f6afda8"></div>
                        <div class="tr-widget" data-tr-widget-type="check-availability" data-tr-short-name="lodgesatcedarfalls" data-tr-number-of-adults="3" data-tr-number-of-children="2" data-tr-unit-id="cc600566-7180-4972-b78b-fffc27285245"></div>
                    </div>
                  </div>
            </div> -->
        {% endfor %}
    </div>
</div>