---
interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
}

const {
  title = 'Hocking Luxury Lodges',
  description = 'Luxury lodges in Hocking Hills, Ohio. Contemporary lodging with hot tubs, arcades, and stunning scenery.',
  keywords = [],
} = Astro.props;

import '../styles/custom.css';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content={description} />
  <title>{title}</title>
  <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/brands.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/solid.css" />
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-04Q5RY1JHY');
  </script>
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-04Q5RY1JHY"></script>
</head>
<body style="background-color: #fbf9f0;">
  <header class="masthead bg-primary mb-5">
    <div class="container py-2">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-between align-items-center text-white">
        <h3>Hocking Luxury Lodges</h3>
        <a href="/"><i class="fa-solid fa-house text-white"></i></a>
      </div>
    </div>
  </header>
  <slot />
  <footer class="bg-primary mt-5">
    <div class="container pt-3">
      <div class="row row-cols-2">
        <div class="col">
          <a href="tel:" class="text-white"></a><br />
          <a href="mailto:" class="text-white"></a>
        </div>
        <div class="col">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </li>
            <li class="list-inline-item">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa-brands fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script is:inline src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script is:inline src="https://d1eneklj7lmhjs.cloudfront.net/20160304085750/thinkreservations-widgets.js"></script>
  <script is:inline src="https://assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
