<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/custom.css">
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css"> -->
    <link href="{{ site.baseurl }}/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/fontawesome/css/brands.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/fontawesome/css/solid.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"> -->
</head>

<body style="background-color: #fbf9f0;">    
    <header class="masthead bg-primary mb-5">
        <div class="container py-2">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-between align-items-center text-white">
                    <h3>Hocking Luxury Lodges</h3>
                    <a href="{{ site.baseurl }}"><i class="fa-solid fa-house text-white"></i></a>
                </div>
        </div>
    </header>
    
    {{ content }}
    
    <footer class="bg-primary mt-5">
        <div class="container pt-3">
            <div class="row row-cols-2">
                <div class="col">
                    <a href="tel:7403857489" class="text-white">(740)-385-7489</a><br />
                    <a href="mailto:info@innatcedarfalls.com" class="text-white">info@innatcedarfalls.com</a>
                </div>
                <div class="col">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa-brands fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa-brands fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                    </ul>                    
                </div>
            </div>
        </div>
    </footer>
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://d1eneklj7lmhjs.cloudfront.net/20160304085750/thinkreservations-widgets.js"></script>
    <script async defer data-pin-hover="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
    <!-- <script src="assets/js/script.min.js"></script> -->
</body>

</html>